<div class="row col-md-12 padding-2">
  <div class="col-md-7">
    <div class="offset-3 row padding-5"><h3>Why choose MG Techno?</h3></div>
    <div class="row padding-5">
      <div class="col-md-5">
        <h5 class="row">Low cost</h5>
        <p class="row">Our low fees and exchange rates are shown upfront</p>
      </div>
      <div class="offset-2 col-md-5">
        <h5 class="row">Fast</h5>
        <p class="row">Get your money to family and friends in minutes</p>
      </div>
    </div>
    <div class="row padding-5">
      <div class="col-md-5">
        <h5 class="row">Simple</h5>
        <p class="row">It’s easy to use and we’re here to help round the clock</p>
      </div>
      <div class="offset-2 col-md-5">
        <h5 class="row">Secured</h5>
        <p class="row">We are FCA authorize and following it's regulations</p>
      </div>
    </div>
  </div>
</div>
