<div class="container">
  <div class="col-7">
    <form #customerForm="ngForm" (submit)="saveCustomer()">
      <div class="row  mt-md-3">
        <label for="customerId" class="col-md-7">Customer ID</label>
        <input id="customerId" type="text" [(ngModel)]="customer.customerId" name="customerId">
      </div>
      <div class="row  mt-md-3">
        <label for="type" class="col-md-7">Type of customer</label>
        <input id="type" type="text" [(ngModel)]="customer.type" name="type">
      </div>
      <div class="row  mt-md-3">
        <label for="firstName" class="col-md-7">First Name</label>
        <input id="firstName" type="text" [(ngModel)]="customer.firstName" name="firstName">
      </div>
      <div class="row  mt-md-3">
        <label for="lastName" class="col-md-7">Last Name</label>
        <input id="lastName" type="text" [(ngModel)]="customer.lastName" name="lastName">
      </div>
      <div class="row  mt-md-3">
        <label for="occupation" class="col-md-7">Occupation</label>
        <input id="occupation" type="text" [(ngModel)]="customer.occupation" name="occupation">
      </div>
      <div class="row  mt-md-3">
        <label for="address" class="col-md-7">Communication address</label>
        <input id="address" type="text" [(ngModel)]="customer.address" name="address">
      </div>
      <div class="row  mt-md-3">
        <label for="phone" class="col-md-7">Contact Number</label>
        <input id="phone" type="text" [(ngModel)]="customer.phone" name="phone">
      </div>
      <button type="submit" class="btn btn-success offset-3 mt-md-5" >Submit</button>
    </form>
  </div>
</div>
