<div class="col-md-12">
<div class="col-md-7">
  <h3>How it Works</h3>
  <p>Sending money is just as easy as before. In fact we’ve made it even more transparent. Our redesign unclutters – so you can keep focused on the things that really matter.</p>

  <h5>Getting started</h5>
  <p> Pick the amount you want to send and where to.</p>
  <p>See what your money looks like at the other end - without any hidden fees and charges.</p>
  <p>Understand what this means in savings- compare us to the biggest players in the market</p>
  <p>Pay What You Want - we will recommend a fee but you can remove this.</p>
  <p>Done this before? Just login. If you haven’t, registration only takes a few seconds. Or you can get going even faster with Facebook or Gmail login.</p>

  <h5>Setting up the payment</h5>
  <p>Tell us how you want to pay and the currency you want to send. Enter your recipient’s details. If you’ve sent money to them before, just pull up their details - we’ve held onto them for you.</p>
  <p>Pay What You Want. We offer you the flexibility on deciding what you pay as a transfer fee. Find out more.</p>
  <p>Make your payment. Please note that some fees may apply if you pay by card, depending on the type of card and the country you are paying from, as per Payment Services Regulations 2017 (SI 2017/252). You will be able to see the fees on our website before you confirm your payment.</p>
  <p>Share in our ambitions! Contribute to change the system (everything goes straight back into the pot so we can keep this going for longer). Spread to word to create a win-win economy.</p>

  <h5>Track your transaction</h5>
  <p>You can keep an eye on it from your dashboard. Need us to help with something ? Contact us!</p>
</div>
</div>
